@using Microsoft.AspNetCore.Mvc.Localization
@{
    ViewData["Title"] = "Home Page";
}


@inject IViewLocalizer Localizer

@*<div>
        <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
        <h1 class="text-center">
            Хотите
            <span class="txt-rotate"
                  data-period="2000"
                  data-rotate='[ " продать.", "купить.", "подарить.", "обменять.", "или еще что нибудь." ]'></span>
        </h1>
        <h2 class="text-center">Мы с радостью поможем в этом вам.</h2>
    </div>*@

<div class="container mt-4 p-4 rounded" style="background: bisque">
    <form>
        <div class="form-row">
            <div class="col-5">
                <input type="text" class="form-control" style="font-size: 20px" placeholder="@Localizer["String1"]">
            </div>
            <div class="col-5">
                <input type="text" class="form-control" style="font-size: 20px" placeholder="@Localizer["String2"]">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary "style="font-size: 20px;">@Localizer["String3"]</button>
            </div>
        </div>
            
    </form>
</div>
<div class="container m-4">
    <div class="row">
        <div class="col-3 ">Недвижимость</div>
        <div class="col-3">Транспорт</div>
        <div class="col-3">Работа</div>
    </div>
</div>
